.category{
    background-color: antiquewhite;
    color: blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.insideCategory{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}